root {
 --playbook-color-core-avocado-100: #FDFEF6;
 --playbook-color-core-avocado-200: #F8FCDE;
 --playbook-color-core-avocado-300: #E9F5A0;
 --playbook-color-core-avocado-400: #E3F13C;
 --playbook-color-core-avocado-500: #C1D737;
 --playbook-color-core-avocado-600: #68770D;
 --playbook-color-core-avocado-700: #4E4E0C;
 --playbook-color-core-avocado-800: #282306;
 --playbook-color-core-blue-100: #F5F9FF;
 --playbook-color-core-blue-200: #D4E5FE;
 --playbook-color-core-blue-300: #84B4FB;
 --playbook-color-core-blue-400: #4D93FC;
 --playbook-color-core-blue-500: #0968F6;
 --playbook-color-core-blue-600: #0049B8;
 --playbook-color-core-blue-650: #003AA5;
 --playbook-color-core-blue-700: #002A69;
 --playbook-color-core-blue-800: #19133A;
 --playbook-color-core-coral-100: #FFF7F5;
 --playbook-color-core-coral-200: #FFE1D7;
 --playbook-color-core-coral-300: #FFA78A;
 --playbook-color-core-coral-400: #FF6A38;
 --playbook-color-core-coral-500: #F3511B;
 --playbook-color-core-coral-600: #D03706;
 --playbook-color-core-coral-700: #5E1D08;
 --playbook-color-core-coral-800: #2F0E04;
 --playbook-color-core-dijon-100: #FFFDF5;
 --playbook-color-core-dijon-200: #FCF9DE;
 --playbook-color-core-dijon-300: #FAEF8A;
 --playbook-color-core-dijon-400: #F6E016;
 --playbook-color-core-dijon-500: #E8D20C;
 --playbook-color-core-dijon-600: #766F28;
 --playbook-color-core-dijon-700: #524500;
 --playbook-color-core-dijon-800: #2E2400;
 --playbook-color-core-green-100: #FBFEF6;
 --playbook-color-core-green-200: #F0FCE1;
 --playbook-color-core-green-300: #D5F6AA;
 --playbook-color-core-green-400: #AAED56;
 --playbook-color-core-green-500: #92C821;
 --playbook-color-core-green-600: #507D17;
 --playbook-color-core-green-700: #345110;
 --playbook-color-core-green-800: #1C2D06;
 --playbook-color-core-indigo-100: #F5FBFF;
 --playbook-color-core-indigo-200: #D3EFFE;
 --playbook-color-core-indigo-300: #80D0FD;
 --playbook-color-core-indigo-400: #0AA7FF;
 --playbook-color-core-indigo-500: #0099F0;
 --playbook-color-core-indigo-600: #0364AB;
 --playbook-color-core-indigo-700: #003C66;
 --playbook-color-core-indigo-800: #01193D;
 --playbook-color-core-jade-100: #F7FDFB;
 --playbook-color-core-jade-200: #D8F8EE;
 --playbook-color-core-jade-300: #8FEACE;
 --playbook-color-core-jade-400: #1ED49E;
 --playbook-color-core-jade-500: #17C28F;
 --playbook-color-core-jade-600: #0F805E;
 --playbook-color-core-jade-700: #055743;
 --playbook-color-core-jade-800: #002B20;
 --playbook-color-core-kiwi-100: #F6FEF6;
 --playbook-color-core-kiwi-200: #E0FAE0;
 --playbook-color-core-kiwi-300: #A6F0A5;
 --playbook-color-core-kiwi-400: #4CE160;
 --playbook-color-core-kiwi-500: #3CC14E;
 --playbook-color-core-kiwi-600: #288034;
 --playbook-color-core-kiwi-700: #1B561A;
 --playbook-color-core-kiwi-800: #0C310D;
 --playbook-color-core-lilac-100: #FAF5FE;
 --playbook-color-core-lilac-200: #EFDDFD;
 --playbook-color-core-lilac-300: #CC9EF0;
 --playbook-color-core-lilac-400: #B56BF0;
 --playbook-color-core-lilac-500: #8935CB;
 --playbook-color-core-lilac-600: #631F99;
 --playbook-color-core-lilac-700: #3E135F;
 --playbook-color-core-lilac-800: #2F041E;
 --playbook-color-core-marigold-100: #FFFBF5;
 --playbook-color-core-marigold-200: #FFF0D3;
 --playbook-color-core-marigold-300: #FFD480;
 --playbook-color-core-marigold-400: #FFA800;
 --playbook-color-core-marigold-500: #E99A02;
 --playbook-color-core-marigold-600: #A36302;
 --playbook-color-core-marigold-700: #562F01;
 --playbook-color-core-marigold-800: #2F1B04;
 --playbook-color-core-neutral-100: #FFFFFF;
 --playbook-color-core-neutral-200: #F7F7F7;
 --playbook-color-core-neutral-300: #E5E5E5;
 --playbook-color-core-neutral-400: #C7C7C7;
 --playbook-color-core-neutral-500: #8F8F8F;
 --playbook-color-core-neutral-600: #707070;
 --playbook-color-core-neutral-700: #363636;
 --playbook-color-core-neutral-800: #191919;
 --playbook-color-core-neutral-900: #000000;
 --playbook-color-core-orange-100: #FFFAF5;
 --playbook-color-core-orange-200: #FFEAD3;
 --playbook-color-core-orange-300: #FFC382;
 --playbook-color-core-orange-400: #FF8806;
 --playbook-color-core-orange-500: #EC7303;
 --playbook-color-core-orange-600: #C15100;
 --playbook-color-core-orange-700: #562501;
 --playbook-color-core-orange-800: #2F1604;
 --playbook-color-core-pink-100: #FEF6FA;
 --playbook-color-core-pink-200: #FCDCEC;
 --playbook-color-core-pink-300: #F79CC8;
 --playbook-color-core-pink-400: #F155A0;
 --playbook-color-core-pink-500: #DE458E;
 --playbook-color-core-pink-600: #A51359;
 --playbook-color-core-pink-700: #4B112D;
 --playbook-color-core-pink-800: #360606;
 --playbook-color-core-red-100: #FFF5F5;
 --playbook-color-core-red-200: #FFDEDE;
 --playbook-color-core-red-300: #FFA0A0;
 --playbook-color-core-red-400: #FF5C5C;
 --playbook-color-core-red-500: #F02D2D;
 --playbook-color-core-red-600: #D50B0B;
 --playbook-color-core-red-700: #570303;
 --playbook-color-core-red-800: #2A0303;
 --playbook-color-core-teal-100: #F7FDFD;
 --playbook-color-core-teal-200: #D7F4F6;
 --playbook-color-core-teal-300: #8EDFE5;
 --playbook-color-core-teal-400: #44CCD5;
 --playbook-color-core-teal-500: #1BBFCA;
 --playbook-color-core-teal-600: #006F93;
 --playbook-color-core-teal-700: #07465A;
 --playbook-color-core-teal-800: #04252F;
 --playbook-color-core-violet-100: #F6F5FE;
 --playbook-color-core-violet-200: #E2DDFD;
 --playbook-color-core-violet-300: #AD9EFA;
 --playbook-color-core-violet-400: #836BFF;
 --playbook-color-core-violet-500: #583AEE;
 --playbook-color-core-violet-600: #3B1FC6;
 --playbook-color-core-violet-700: #271A68;
 --playbook-color-core-violet-800: #20092B;
 --playbook-color-core-yellow-100: #FFFCF5;
 --playbook-color-core-yellow-200: #FFF8D5;
 --playbook-color-core-yellow-300: #FFE58A;
 --playbook-color-core-yellow-400: #FFBD14;
 --playbook-color-core-yellow-500: #EEBB04;
 --playbook-color-core-yellow-600: #855F00;
 --playbook-color-core-yellow-700: #553B06;
 --playbook-color-core-yellow-800: #312102;
 --playbook-dimension-core-0: 0px;
 --playbook-dimension-core-25: 2px;
 --playbook-dimension-core-50: 4px;
 --playbook-dimension-core-75: 6px;
 --playbook-dimension-core-100: 8px;
 --playbook-dimension-core-150: 12px;
 --playbook-dimension-core-200: 16px;
 --playbook-dimension-core-250: 20px;
 --playbook-dimension-core-300: 24px;
 --playbook-dimension-core-400: 32px;
 --playbook-dimension-core-500: 40px;
 --playbook-dimension-core-600: 48px;
 --playbook-dimension-core-800: 64px;
 --playbook-dimension-core-1000: 80px;
--playbook-semantic-dimension-action-height-small: 32px;
--playbook-semantic-dimension-action-height-medium: 40px;
--playbook-semantic-dimension-action-height-large: 48px;
--playbook-semantic-dimension-tap-target-minimum: 48px;
--playbook-semantic-dimension-icon-extra-small: 12px;
--playbook-semantic-dimension-icon-small: 16px;
--playbook-semantic-dimension-icon-medium: 24px;
--playbook-semantic-dimension-icon-large: 32px;
--playbook-semantic-dimension-icon-extra-large: 64px;
 --playbook-spacing-core-0: 0px;
 --playbook-spacing-core-25: 2px;
 --playbook-spacing-core-50: 4px;
 --playbook-spacing-core-75: 6px;
 --playbook-spacing-core-100: 8px;
 --playbook-spacing-core-150: 12px;
 --playbook-spacing-core-200: 16px;
 --playbook-spacing-core-250: 20px;
 --playbook-spacing-core-300: 24px;
 --playbook-spacing-core-400: 32px;
 --playbook-spacing-core-500: 40px;
 --playbook-spacing-core-600: 48px;
--playbook-semantic-spacing-page-grid-margin: 16px;
--playbook-semantic-spacing-page-grid-gutter: 8px;
 --playbook-font-family: market sans;
 --playbook-font-letter-spacing-display1: -0.0575rem;
 --playbook-font-letter-spacing-display2: -0.045rem;
 --playbook-font-letter-spacing-display3: -0.0375rem;
 --playbook-font-letter-spacing-none: 0rem;
 --playbook-font-letter-spacing-signal1: 0.04375rem;
 --playbook-font-letter-spacing-signal2: 0.03125rem;
 --playbook-font-line-height-150: 0.75rem;
 --playbook-font-line-height-200: 1rem;
 --playbook-font-line-height-250: 1.25rem;
 --playbook-font-line-height-300: 1.5rem;
 --playbook-font-line-height-350: 1.75rem;
 --playbook-font-line-height-400: 2rem;
 --playbook-font-line-height-500: 2.5rem;
 --playbook-font-line-height-575: 2.875rem;
 --playbook-font-line-height-600: 3.5rem;
 --playbook-font-paragraph-spacing-none: 0rem;
 --playbook-font-size-body: 0rem;
 --playbook-font-size-giant1: 0rem;
 --playbook-font-size-giant2: 0rem;
 --playbook-font-size-giant3: 0rem;
 --playbook-font-size-large1: 0rem;
 --playbook-font-size-large2: 0rem;
 --playbook-font-size-medium: 0rem;
 --playbook-font-size-small: 0rem;
 --playbook-font-size-smallest: 0rem;
 --playbook-font-text-case-none: 0rem;
 --playbook-font-text-case-uppercase: uppercase;
 --playbook-font-text-decoration-none: none;
 --playbook-font-text-decoration-underline: underline;
 --playbook-font-weight-400: regular;
 --playbook-font-weight-600: bold;
--playbook-semantic-breakpoint-extra-small: 320px;
--playbook-semantic-breakpoint-small: 512px;
--playbook-semantic-breakpoint-medium: 600px;
--playbook-semantic-breakpoint-large: 800px;
--playbook-semantic-breakpoint-extra-large: 1100px;
--playbook-semantic-breakpoint-extra-large2: 1400px;
--playbook-semantic-breakpoint-extra-large3: 1920px;
--playbook-semantic-breakpoint-android-compact: 320px;
--playbook-semantic-breakpoint-android-medium: 600px;
--playbook-semantic-breakpoint-android-expanded: 800px;
--playbook-semantic-breakpoint-ios-compact: 320px;
--playbook-semantic-breakpoint-ios-regular: 600px;
--playbook-semantic-breakpoint-ios-expanded: 800px;
--playbook-semantic-color-dark-background-primary: #000000;
--playbook-semantic-color-dark-background-secondary: #191919;
--playbook-semantic-color-dark-background-tertiary: #363636;
--playbook-semantic-color-dark-background-accent: #4D93FC;
--playbook-semantic-color-dark-background-attention: #FF5C5C;
--playbook-semantic-color-dark-background-success: #3CC14E;
--playbook-semantic-color-dark-background-disabled: #707070;
--playbook-semantic-color-dark-background-elevated: #191919;
--playbook-semantic-color-dark-background-secondary-on-elevated: #000000;
--playbook-semantic-color-dark-background-on-secondary: #000000;
--playbook-semantic-color-dark-background-inverse: #E5E5E5;
--playbook-semantic-color-dark-background-strong: #FFFFFF;
--playbook-semantic-color-dark-background-education: #19133A;
--playbook-semantic-color-dark-foreground-primary: #F7F7F7;
--playbook-semantic-color-dark-foreground-secondary: #8F8F8F;
--playbook-semantic-color-dark-foreground-tertiary: #707070;
--playbook-semantic-color-dark-foreground-accent: #4D93FC;
--playbook-semantic-color-dark-foreground-attention: #FF5C5C;
--playbook-semantic-color-dark-foreground-success: #4CE160;
--playbook-semantic-color-dark-foreground-on-accent: #191919;
--playbook-semantic-color-dark-foreground-on-attention: #191919;
--playbook-semantic-color-dark-foreground-on-success: #191919;
--playbook-semantic-color-dark-foreground-on-inverse: #191919;
--playbook-semantic-color-dark-foreground-on-strong: #191919;
--playbook-semantic-color-dark-foreground-on-disabled: #191919;
--playbook-semantic-color-dark-foreground-link-visited: #F155A0;
--playbook-semantic-color-dark-foreground-link-legal: #4D93FC;
--playbook-semantic-color-dark-border-strong: #FFFFFF;
--playbook-semantic-color-dark-border-medium: #707070;
--playbook-semantic-color-dark-border-subtle: #363636;
--playbook-semantic-color-dark-border-accent: #4D93FC;
--playbook-semantic-color-dark-border-attention: #FF5C5C;
--playbook-semantic-color-dark-border-success: #3CC14E;
--playbook-semantic-color-dark-border-on-accent: #191919;
--playbook-semantic-color-dark-border-on-success: #191919;
--playbook-semantic-color-dark-border-on-inverse: #191919;
--playbook-semantic-color-dark-border-on-disabled: #191919;
--playbook-semantic-color-dark-border-disabled: #363636;
--playbook-semantic-color-dark-state-layer-hover: rgba(#FFFFFF, 0.08);
--playbook-semantic-color-dark-state-layer-pressed: rgba(#FFFFFF, 0.08);
--playbook-semantic-color-dark-state-layer-selected: rgba(#FFFFFF, 0.08);
--playbook-semantic-color-dark-state-layer-focus: rgba(#FFFFFF, 0.04);
--playbook-semantic-color-dark-scrim-background: rgba(#000000, 0.64);
--playbook-semantic-color-dark-loading-fill: #2d2d2d;
--playbook-semantic-color-dark-loading-fill-on-secondary: #353535;
--playbook-semantic-color-light-background-primary: #FFFFFF;
--playbook-semantic-color-light-background-secondary: #F7F7F7;
--playbook-semantic-color-light-background-tertiary: #E5E5E5;
--playbook-semantic-color-light-background-accent: #0968F6;
--playbook-semantic-color-light-background-attention: #D50B0B;
--playbook-semantic-color-light-background-success: #288034;
--playbook-semantic-color-light-background-disabled: #C7C7C7;
--playbook-semantic-color-light-background-elevated: #FFFFFF;
--playbook-semantic-color-light-background-secondary-on-elevated: #F7F7F7;
--playbook-semantic-color-light-background-on-secondary: #FFFFFF;
--playbook-semantic-color-light-background-inverse: #363636;
--playbook-semantic-color-light-background-strong: #191919;
--playbook-semantic-color-light-background-education: #F5F9FF;
--playbook-semantic-color-light-foreground-primary: #191919;
--playbook-semantic-color-light-foreground-secondary: #707070;
--playbook-semantic-color-light-foreground-tertiary: #C7C7C7;
--playbook-semantic-color-light-foreground-accent: #0968F6;
--playbook-semantic-color-light-foreground-attention: #D50B0B;
--playbook-semantic-color-light-foreground-success: #288034;
--playbook-semantic-color-light-foreground-on-accent: #FFFFFF;
--playbook-semantic-color-light-foreground-on-attention: #FFFFFF;
--playbook-semantic-color-light-foreground-on-success: #FFFFFF;
--playbook-semantic-color-light-foreground-on-inverse: #FFFFFF;
--playbook-semantic-color-light-foreground-on-strong: #FFFFFF;
--playbook-semantic-color-light-foreground-on-disabled: #FFFFFF;
--playbook-semantic-color-light-foreground-link-visited: #A51359;
--playbook-semantic-color-light-foreground-link-legal: #003AA5;
--playbook-semantic-color-light-border-strong: #363636;
--playbook-semantic-color-light-border-medium: #8F8F8F;
--playbook-semantic-color-light-border-subtle: #E5E5E5;
--playbook-semantic-color-light-border-accent: #0968F6;
--playbook-semantic-color-light-border-attention: #D50B0B;
--playbook-semantic-color-light-border-success: #288034;
--playbook-semantic-color-light-border-on-accent: #FFFFFF;
--playbook-semantic-color-light-border-on-success: #FFFFFF;
--playbook-semantic-color-light-border-on-inverse: #FFFFFF;
--playbook-semantic-color-light-border-on-disabled: #FFFFFF;
--playbook-semantic-color-light-border-disabled: #C7C7C7;
--playbook-semantic-color-light-state-layer-hover: rgba(#000000, 0.08);
--playbook-semantic-color-light-state-layer-pressed: rgba(#000000, 0.08);
--playbook-semantic-color-light-state-layer-selected: rgba(#000000, 0.08);
--playbook-semantic-color-light-state-layer-focus: rgba(#000000, 0.04);
--playbook-semantic-color-light-scrim-background: rgba(#000000, 0.3);
--playbook-semantic-color-light-loading-fill: #ededed;
--playbook-semantic-color-light-loading-fill-on-secondary: #e4e4e4;
--playbook-semantic-opacity-state-hover: 4%;
--playbook-semantic-opacity-state-focus: 4%;
--playbook-semantic-opacity-state-press: 8%;
--playbook-semantic-opacity-state-active: 12%;
--playbook-semantic-shadow-subtle-x: 0px;
--playbook-semantic-shadow-subtle-y: 4px;
--playbook-semantic-shadow-subtle-blur: 12px;
--playbook-semantic-shadow-subtle-spread: 0px;
--playbook-semantic-shadow-subtle-color: rgba(#000000,0.07);
--playbook-semantic-shadow-subtle-type: dropShadow;
--playbook-semantic-shadow-strong: [object Object],[object Object];
--playbook-semantic-radius-none: 0px;
--playbook-semantic-radius-small: 4px;
--playbook-semantic-radius-medium: 8px;
--playbook-semantic-radius-large: 16px;
--playbook-semantic-radius-extra-large: 24px;
--playbook-semantic-radius-photo-small: 8px;
--playbook-semantic-radius-photo-large: 16px;
--playbook-semantic-radius-form-input: 8px;
--playbook-semantic-radius-popover-container: 16px;
--playbook-semantic-typography-display1-font-size: 0rem;
--playbook-semantic-typography-display1-font-weight: bold;
--playbook-semantic-typography-display1-letter-case: 0rem;
--playbook-semantic-typography-display1-letter-spacing: -0.0575rem;
--playbook-semantic-typography-display1-line-height: 3.5rem;
--playbook-semantic-typography-display2-font-size: 0rem;
--playbook-semantic-typography-display2-font-weight: bold;
--playbook-semantic-typography-display2-letter-case: 0rem;
--playbook-semantic-typography-display2-letter-spacing: -0.045rem;
--playbook-semantic-typography-display2-line-height: 2.875rem;
--playbook-semantic-typography-display3-font-size: 0rem;
--playbook-semantic-typography-display3-font-weight: bold;
--playbook-semantic-typography-display3-letter-case: 0rem;
--playbook-semantic-typography-display3-letter-spacing: -0.0375rem;
--playbook-semantic-typography-display3-line-height: 2.5rem;
--playbook-semantic-typography-title1-font-size: 0rem;
--playbook-semantic-typography-title1-font-weight: bold;
--playbook-semantic-typography-title1-letter-case: 0rem;
--playbook-semantic-typography-title1-letter-spacing: 0rem;
--playbook-semantic-typography-title1-line-height: 2rem;
--playbook-semantic-typography-title2-font-size: 0rem;
--playbook-semantic-typography-title2-font-weight: bold;
--playbook-semantic-typography-title2-letter-case: 0rem;
--playbook-semantic-typography-title2-letter-spacing: 0rem;
--playbook-semantic-typography-title2-line-height: 1.75rem;
--playbook-semantic-typography-title3-font-size: 0rem;
--playbook-semantic-typography-title3-font-weight: bold;
--playbook-semantic-typography-title3-letter-case: 0rem;
--playbook-semantic-typography-title3-letter-spacing: 0rem;
--playbook-semantic-typography-title3-line-height: 1.5rem;
--playbook-semantic-typography-subtitle1-font-size: 0rem;
--playbook-semantic-typography-subtitle1-font-weight: regular;
--playbook-semantic-typography-subtitle1-letter-case: 0rem;
--playbook-semantic-typography-subtitle1-letter-spacing: 0rem;
--playbook-semantic-typography-subtitle1-line-height: 1.75rem;
--playbook-semantic-typography-subtitle2-font-size: 0rem;
--playbook-semantic-typography-subtitle2-font-weight: regular;
--playbook-semantic-typography-subtitle2-letter-case: 0rem;
--playbook-semantic-typography-subtitle2-letter-spacing: 0rem;
--playbook-semantic-typography-subtitle2-line-height: 1.5rem;
--playbook-semantic-typography-body-font-size: 0rem;
--playbook-semantic-typography-body-font-weight: regular;
--playbook-semantic-typography-body-letter-case: 0rem;
--playbook-semantic-typography-body-letter-spacing: 0rem;
--playbook-semantic-typography-body-line-height: 1.25rem;
--playbook-semantic-typography-body-bold-font-size: 0rem;
--playbook-semantic-typography-body-bold-font-weight: bold;
--playbook-semantic-typography-body-bold-letter-case: 0rem;
--playbook-semantic-typography-body-bold-letter-spacing: 0rem;
--playbook-semantic-typography-body-bold-line-height: 1.25rem;
--playbook-semantic-typography-caption-font-size: 0rem;
--playbook-semantic-typography-caption-font-weight: regular;
--playbook-semantic-typography-caption-letter-case: 0rem;
--playbook-semantic-typography-caption-letter-spacing: 0rem;
--playbook-semantic-typography-caption-line-height: 1rem;
--playbook-semantic-typography-caption-bold-font-size: 0rem;
--playbook-semantic-typography-caption-bold-font-weight: bold;
--playbook-semantic-typography-caption-bold-letter-case: 0rem;
--playbook-semantic-typography-caption-bold-letter-spacing: 0rem;
--playbook-semantic-typography-caption-bold-line-height: 1rem;
--playbook-semantic-typography-signal1-font-size: 0rem;
--playbook-semantic-typography-signal1-font-weight: regular;
--playbook-semantic-typography-signal1-letter-case: 0rem;
--playbook-semantic-typography-signal1-letter-spacing: 0.04375rem;
--playbook-semantic-typography-signal1-line-height: 1.25rem;
--playbook-semantic-typography-signal2-font-size: 0rem;
--playbook-semantic-typography-signal2-font-weight: bold;
--playbook-semantic-typography-signal2-letter-case: 0rem;
--playbook-semantic-typography-signal2-letter-spacing: 0.03125rem;
--playbook-semantic-typography-signal2-line-height: 0.75rem;

}