.primaryDestructive {
    /* Base styles */
      background-color: var(--playbook-semantic-color-background-attention);
      /*text color*/
      color: var(--playbook-semantic-color-foreground-on-accent);
      border: var(--playbook-semantic-border-medium) solid var(--playbook-semantic-color-border-attention);
      border-radius: var(--playbook-semantic-radius-extra-large);
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
  
      /* Typography */
      font-family: var(--playbook-font-family);
      font-weight: var(--playbook-font-weight-600);
      font-size: var(--playbook-font-size-body);
      line-height: var(--playbook-semantic-typography-body-line-height);
  
      /* Transition */
      transition: background-color 0.3s ease;
    }


.primaryDestructiveIcon{
    width:16px;
    height:16px;
    color: var(--playbook-semantic-color-foreground-on-accent);
    fill: var(--playbook-semantic-color-foreground-on-accent);
}

.primaryDestructiveIcon path{
  fill: var(--playbook-semantic-color-foreground-on-accent);
}

.primaryDestructive--large{
    height: var(--playbook-dimension-core-600);
    padding: 0 var(--playbook-spacing-core-250);
    min-width: 96px;
    max-width: 480px;
    gap: var(--playbook-spacing-core-100);
}

.primaryDestructive--medium{
    height: var(--playbook-dimension-core-500);
    min-width: 80px;
    max-width: 400px;
    gap:6px;
}

.primaryDestructive--small{
    height: var(--playbook-dimension-core-400);
    min-width: 64px;
    max-width: 320px;
    gap: var(--playbook-spacing-core-75);
}
  
    /* States */
  .primaryDestructive:hover {
    background: 
    /* Overlay layer */
    linear-gradient(var(--playbook-semantic-color-state-layer-hover), var(--playbook-semantic-color-state-layer-hover)),
    /* Base layer */
    var(--playbook-semantic-color-background-attention);
  }
  
  .primaryDestructive:active {
    background: 
    /* Overlay layer */
    linear-gradient(var(--playbook-semantic-color-state-layer-pressed), var(--playbook-semantic-color-state-layer-pressed)),
    /* Base layer */
    var(--playbook-semantic-color-background-attention);
  }
  
  .primaryDestructive:focus {
    outline: none;
    box-shadow: 0 0 0 2px white, 0 0 0 4px var(--playbook-semantic-color-border-accent);
  }
  
  .primaryDestructive:disabled {
    background: var(--playbook-semantic-color-background-disabled);
    cursor: not-allowed;
    border: var(--playbook-semantic-border-medium) solid var(--playbook-semantic-color-border-disabled);
  }
